@CHARSET "ISO-8859-1";
.pageheading
{
	text-align: center;
	color: white;
	font-family: serif;
	font-style: normal;
	font-size: 60px;
	font-weight: bolder;
	font-stretch: expanded;
	text-decoration: underline;
	text-shadow: threedlightshadow;
	text-transform: capitalize;
}
